northwind2/master.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:annox="http://annox.dev.java.net" xmlns:orm="http://java.sun.com/xml/ns/persistence/orm" xmlns:spl="http://splicer.io" xmlns:splicer="http://splicer.models" xmlns:sports="http://sports.models" xmlns:tns="http://models/" targetNamespace="http://models/" version="1.0">
  <xs:complexType name="customer">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="customers"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="attachments" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="businessPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="company" type="xs:string"/>
      <xs:element minOccurs="0" name="countryRegion" type="xs:string"/>
      <xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="faxNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="homePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="jobTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="notes" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="order" type="tns:order">
        <xs:annotation>
          <xs:appinfo>
        		<spl:one2many fk="customer_id">
              <spl:ignoreOtherElements>
                                    "customer"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        	<xs:documentation>test documentation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="stateProvince" type="xs:string"/>
      <xs:element minOccurs="0" name="webPage" type="xs:string"/>
      <xs:element minOccurs="0" name="zipPostalCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="order">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="orders"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="customer" type="tns:customer">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="customer_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="employee" type="tns:employee">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="employee_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="inventoryTransaction" type="tns:inventoryTransaction">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="customer_order_id">
              <spl:ignoreOtherElements>
                                    "order"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="invoice" type="tns:invoice">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="order_id">
              <spl:ignoreOtherElements>
                                    "order"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="notes" type="xs:string"/>
      <xs:element minOccurs="0" name="orderDate" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="orderDetailer" type="tns:orderDetailer">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="order_id">
              <spl:ignoreOtherElements>
                                    "order"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="orderStatus" type="tns:orderStatus">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="status_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="orderTaxStatus" type="tns:orderTaxStatus">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="tax_status_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="paidDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="paymentType" type="xs:string"/>
      <xs:element minOccurs="0" name="shipAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="shipCity" type="xs:string"/>
      <xs:element minOccurs="0" name="shipCountryRegion" type="xs:string"/>
      <xs:element minOccurs="0" name="shipName" type="xs:string"/>
      <xs:element minOccurs="0" name="shipStateProvince" type="xs:string"/>
      <xs:element minOccurs="0" name="shipZipPostalCode" type="xs:string"/>
      <xs:element minOccurs="0" name="shippedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="shipper" type="tns:shipper">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="shipper_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="shippingFee" type="xs:decimal"/>
      <xs:element minOccurs="0" name="taxRate" type="xs:double"/>
      <xs:element minOccurs="0" name="taxes" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="employee">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="employees"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="attachments" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="businessPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="company" type="xs:string"/>
      <xs:element minOccurs="0" name="countryRegion" type="xs:string"/>
      <xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="faxNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="homePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="jobTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="notes" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="order" type="tns:order">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="employee_id">
              <spl:ignoreOtherElements>
                                    "employee"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrder" type="tns:purchaseOrder">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="created_by">
              <spl:ignoreOtherElements>
                                    "createdBy"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="stateProvince" type="xs:string"/>
      <xs:element minOccurs="0" name="webPage" type="xs:string"/>
      <xs:element minOccurs="0" name="zipPostalCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="purchaseOrder">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="purchase_orders"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="approvedBy" type="xs:int"/>
      <xs:element minOccurs="0" name="approvedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createdBy" type="tns:employee">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="created_by"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="expectedDate" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="inventoryTransaction" type="tns:inventoryTransaction">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="purchase_order_id">
              <spl:ignoreOtherElements>
                                    "purchaseOrder"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="notes" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentAmount" type="xs:decimal"/>
      <xs:element minOccurs="0" name="paymentDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="paymentMethod" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrderDetailer" type="tns:purchaseOrderDetailer">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="purchase_order_id">
              <spl:ignoreOtherElements>
                                    "purchaseOrder"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="purchaseOrderStatus" type="tns:purchaseOrderStatus">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="status_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="shippingFee" type="xs:decimal"/>
      <xs:element minOccurs="0" name="submittedBy" type="xs:int"/>
      <xs:element minOccurs="0" name="submittedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="supplier" type="tns:supplier">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="supplier_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="taxes" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="inventoryTransaction">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="inventory_transactions"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="comments" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="inventoryTransactionTypes" type="tns:inventoryTransactionType">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="transaction_type"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="order" type="tns:order">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="customer_order_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="product" type="tns:product">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="product_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="purchaseOrder" type="tns:purchaseOrder">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="purchase_order_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrderDetailer" type="tns:purchaseOrderDetailer">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="inventory_id">
              <spl:ignoreOtherElements>
                                    "inventoryTransaction"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantity" type="xs:int"/>
      <xs:element minOccurs="0" name="transactionCreatedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="transactionModifiedDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="inventoryTransactionType">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="inventory_transaction_types"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="inventoryTransaction" type="tns:inventoryTransaction">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="transaction_type">
              <spl:ignoreOtherElements>
                                    "inventoryTransactionType"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="typeName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="product">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="products"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="attachments" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="category" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element name="discontinued" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="inventoryTransaction" type="tns:inventoryTransaction">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="product_id">
              <spl:ignoreOtherElements>
                                    "product"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="listPrice" type="xs:decimal"/>
      <xs:element minOccurs="0" name="minimumReorderQuantity" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="orderDetailer" type="tns:orderDetailer">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="product_id">
              <spl:ignoreOtherElements>
                                    "product"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="productCode" type="xs:string"/>
      <xs:element minOccurs="0" name="productName" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrderDetailer" type="tns:purchaseOrderDetailer">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="product_id">
              <spl:ignoreOtherElements>
                                    "product"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="quantityPerUnit" type="xs:string"/>
      <xs:element minOccurs="0" name="reorderLevel" type="xs:int"/>
      <xs:element minOccurs="0" name="standardCost" type="xs:decimal"/>
      <xs:element minOccurs="0" name="supplierIds" type="xs:string"/>
      <xs:element minOccurs="0" name="targetLevel" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="orderDetailer">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="order_details"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dateAllocated" type="xs:dateTime"/>
      <xs:element name="discount" type="xs:double" maxOccurs="1" minOccurs="0"/>
      <xs:element minOccurs="0" name="inventoryId" type="xs:int"/>
      <xs:element minOccurs="0" name="order" type="tns:order">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="order_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="orderDetailerStatus" type="tns:orderDetailerStatus">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="status_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="product" type="tns:product">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="product_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="purchaseOrderId" type="xs:int"/>
      <xs:element minOccurs="0" name="quantity" type="xs:decimal"/>
      <xs:element minOccurs="0" name="unitPrice" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="orderDetailerStatus">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="order_details_status"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="orderDetailer" type="tns:orderDetailer">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="status_id">
              <spl:ignoreOtherElements>
                                    "orderDetailerStatus"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="statusName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="purchaseOrderDetailer">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="purchase_order_details"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dateReceived" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="inventoryTransaction" type="tns:inventoryTransaction">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="inventory_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="postedToInventory" type="xs:boolean" maxOccurs="1" minOccurs="0"/>
      <xs:element minOccurs="0" name="product" type="tns:product">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="product_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="purchaseOrder" type="tns:purchaseOrder">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="purchase_order_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="quantity" type="xs:decimal"/>
      <xs:element minOccurs="0" name="unitCost" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="purchaseOrderStatus">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="purchase_order_status"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrder" type="tns:purchaseOrder">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="status_id">
              <spl:ignoreOtherElements>
                                    "purchaseOrderStatus"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="supplier">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="suppliers"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="attachments" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="businessPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="company" type="xs:string"/>
      <xs:element minOccurs="0" name="countryRegion" type="xs:string"/>
      <xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="faxNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="homePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="jobTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="notes" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="purchaseOrder" type="tns:purchaseOrder">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="supplier_id">
              <spl:ignoreOtherElements>
                                    "supplier"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="stateProvince" type="xs:string"/>
      <xs:element minOccurs="0" name="webPage" type="xs:string"/>
      <xs:element minOccurs="0" name="zipPostalCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="invoice">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="invoices"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="amountDue" type="xs:decimal"/>
      <xs:element minOccurs="0" name="dueDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="invoiceDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="order" type="tns:order">
        <xs:annotation>
          <xs:appinfo>
            <spl:many2one fk="order_id"/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="shipping" type="xs:decimal"/>
      <xs:element minOccurs="0" name="tax" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="orderStatus">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="order_status"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="order" type="tns:order">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="status_id">
              <spl:ignoreOtherElements>
                                    "orderStatus"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="statusName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="orderTaxStatus">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="order_tax_status"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="order" type="tns:order">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="tax_status_id">
              <spl:ignoreOtherElements>
                                    "orderTaxStatus"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="taxStatusName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType xmlns:ha="http://annox.dev.java.net/org.hibernate.annotations" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:pxml="https://github.com/ilyakharlamov/pure-xsl/parseStringAsXML" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="shipper">
    <xs:annotation>
      <xs:appinfo>
        <spl:entity>
          <orm:table name="shippers"/>
        </spl:entity>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long">
        <xs:annotation>
          <xs:appinfo>
            <spl:id/>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="attachments" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="businessPhone" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="company" type="xs:string"/>
      <xs:element minOccurs="0" name="countryRegion" type="xs:string"/>
      <xs:element minOccurs="0" name="emailAddress" type="xs:string"/>
      <xs:element minOccurs="0" name="faxNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element minOccurs="0" name="homePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="jobTitle" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string"/>
      <xs:element minOccurs="0" name="notes" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="order" type="tns:order">
        <xs:annotation>
          <xs:appinfo>
            <spl:one2many fk="shipper_id">
              <spl:ignoreOtherElements>
                                    "shipper"
                            </spl:ignoreOtherElements>
            </spl:one2many>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="stateProvince" type="xs:string"/>
      <xs:element minOccurs="0" name="webPage" type="xs:string"/>
      <xs:element minOccurs="0" name="zipPostalCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>